In [15]:
import mysql.connector
from mysql.connector.constants import ClientFlag

config = {
    'user': 'root',
    'password': 'miapia',
    'host': '35.202.78.48',
    'client_flags': [ClientFlag.SSL],
    'ssl_ca': 'certs/server-ca.pem',
    'ssl_cert': 'certs/client-cert.pem',
    'ssl_key': 'certs/client-key.pem'
}

# now we establish our connection
cnxn = mysql.connector.connect(**config)

cursor = cnxn.cursor()  # initialize connection cursor
cursor.execute('CREATE DATABASE IF NOT EXISTS Pawsitive')  # create a new 'testdb' database
cnxn.close()  # close connection because we will be reconnecting to testdb

config['database'] = 'Pawsitive'
cnxn = mysql.connector.connect(**config)
cursor = cnxn.cursor(buffered=True)
cnxn.commit()

In [16]:
#cursor.execute("INSERT INTO SCHEDULES (USER_ID, TIME_DATE) VALUES ('t.nguyen','2022-06-08 11:00')")
#cnxn.commit()
#result = cursor.fetchall()

#for x in result:
#    print(x)

In [17]:
cursor.execute("SELECT * FROM SERVICES")
                
result = cursor.fetchall()
for x in result:
    print(x)

('AKC CGC', 'AKC Canine good citizen training', Decimal('149.99'), 'Training')
('CGC test', 'AKC CGC testing', Decimal('25.00'), 'Training')
('Dog 1', 'Beginner adult dog class', Decimal('149.99'), 'Training')
('Dog 2', 'Advanced adult dog class', Decimal('149.99'), 'Training')
('Full-day Board', '8 hours in day boarding', Decimal('34.99'), 'Boarding')
('Half-day Board', '4 hour in day boarding', Decimal('19.99'), 'Boarding')
('Large dog full service', 'Wash and brush for dogs size 50+ lb', Decimal('119.99'), 'Grooming')
('Matt brush', 'Every 15 extra minutes of brushing.', Decimal('12.00'), 'Grooming')
('Medium dog full service', 'Wash and brush for dogs size 20-50 lb', Decimal('89.99'), 'Grooming')
('Nails and Ears', 'Naill trim and ear cleaning', Decimal('20.00'), 'Grooming')
('Overnight Board', 'Dog kept in boarding overnight ', Decimal('49.99'), 'Boarding')
('Puppy 1', 'Beginner puppy lessons', Decimal('149.99'), 'Training')
('Puppy 2', 'Advanced puppy lessons', Decimal('149.99'), 'Training')
('Small dog full service', 'Wash and brush for dogs size 0-20 lb', Decimal('59.99'), 'Grooming')

In [18]:
cursor.execute("SELECT * FROM EMPLOYEES")
                
result = cursor.fetchall()
for x in result:
    print(x)

('black.lab', 'Boarding', 'George Willis', '13 hill cir', 'San Jose', 'CA', '95122', 'USA', 123409870)
('fish.sauce', 'Manager', 'Tien Gaulden', '1234 SJSU ave', 'San Jose', 'CA', '95136', 'USA', 123456780)
('horse_gurl24', 'Training', 'Ariana Mahalati', '90 larkspur st', 'Palo Alto', 'CA', '91234', 'USA', 888882743)
('kiamcoo', 'Boarding', 'Kim Kiamco', '4300 redoowd cir', 'Sunnyvale', 'CA', '94123', 'USA', 987654321)
('lilmads96', 'Grooming', 'Madison Lillian', '12 valley dr', 'San Mateo', 'CA', '94327', 'USA', 333336452)
('s.gaulden', 'Training', 'Shayna Gaulden', '4500 forest dr', 'San Jose', 'CA', '95136', 'USA', 246812345)
('ss.bee', 'Manager', 'Wuelby Soriano', '234 sonoma ave', 'Santa Rosa', 'CA', '93212', 'USA', 849372615)
('t.nguyen', 'Grooming', 'Tien Nguyen', '123 sunny st', 'San Jose', 'CA', '95132', 'USA', 123456789)

In [19]:
cursor.execute("SELECT * FROM BOOKINGS")
                
result = cursor.fetchall()
for x in result:
    print(x)

('3', 'black.lab', datetime.datetime(2022, 5, 1, 20, 0), 'Overnight Board')
('4', 'black.lab', datetime.datetime(2022, 5, 1, 20, 0), 'Overnight Board')
('1', 's.gaulden', datetime.datetime(2022, 5, 1, 8, 0), 'Puppy 1')
('2', 's.gaulden', datetime.datetime(2022, 5, 1, 8, 0), 'Puppy 1')
('1', 't.nguyen', datetime.datetime(2022, 5, 1, 9, 0), 'Small dog full service')

In [20]:
cursor.execute("SELECT * FROM SCHEDULES")
                
result = cursor.fetchall()
for x in result:
    print(x)

('black.lab', datetime.datetime(2022, 5, 1, 20, 0))
('black.lab', datetime.datetime(2022, 5, 2, 8, 0))
('horse_gurl24', datetime.datetime(2022, 5, 2, 8, 0))
('horse_gurl24', datetime.datetime(2022, 5, 5, 8, 0))
('kiamcoo', datetime.datetime(2022, 5, 1, 10, 0))
('kiamcoo', datetime.datetime(2022, 5, 3, 9, 0))
('lilmads96', datetime.datetime(2022, 5, 1, 9, 0))
('lilmads96', datetime.datetime(2022, 5, 8, 11, 0))
('s.gaulden', datetime.datetime(2022, 5, 1, 8, 0))
('s.gaulden', datetime.datetime(2022, 5, 2, 8, 0))
('ss.bee', datetime.datetime(2022, 5, 1, 16, 0))
('ss.bee', datetime.datetime(2022, 5, 2, 8, 0))
('t.nguyen', datetime.datetime(2022, 5, 1, 8, 0))
('t.nguyen', datetime.datetime(2022, 5, 1, 9, 0))

In [21]:
cursor.execute("SELECT * FROM DOGS")
                
result = cursor.fetchall()
for x in result:
    print(x)

('1', 'ross.geller', 'Mia', 'Small', 'Chihuahua', 1, 0, 1, 'F')
('2', 'ross.geller', 'Coco', 'Small', 'Corgi', 1, 0, 1, 'M')
('3', 'phoeba.buffay', 'Charlie', 'Small', 'Mix', 0, 0, 1, 'M')
('4', 'bing.chand', 'Amber', 'Large', 'Visla', 0, 0, 2, 'F')
('5', 'j.tribbani', 'Sweetie', 'Small', 'Carin Terrier', 1, 0, 4, 'M')
('6', 'rachel.green', 'Gordie', 'Small', 'Bichon', 1, 0, 6, 'M')
('7', 'rachel.green', 'Bella', 'Medium', 'Australian Shephard', 0, 0, 0, 'F')

In [22]:
cursor.execute("SELECT * FROM USERS")
                
result = cursor.fetchall()
for x in result:
    print(x)

('bing.chand', 'hahaha', 'cust')
('black.lab', 'hello', 'Boarding')
('fish.sauce', 'manager', 'Manager')
('horse_gurl24', '100x', 'Training')
('j.tribbani', '2468blue', 'cust')
('kiamcoo', 'putput', 'Boarding')
('lilmads96', 'redwood', 'Grooming')
('phoeba.buffay', 'password123', 'cust')
('rachel.green', 'green78', 'cust')
('ross.geller', '12345six', 'cust')
('s.gaulden', 'gaulden', 'Training')
('ss.bee', 'bee', 'Manager')
('t.nguyen', 'nguyen', 'Grooming')

In [23]:
cursor.execute("SELECT * FROM CUSTOMERS")
                
result = cursor.fetchall()
for x in result:
    print(x)

('bing.chand', 'Chandler Bing', '408345213', '6894 Grand blvd', 'San Jose', 'CA', '95005', 'US')
('j.tribbani', 'Joey Tribbiani', '567325098', '12A Main St', 'Milpitas', 'CA', '95305', 'US')
('phoeba.buffay', 'Phoebe Buffay', '925123456', '124 Creek Dr', 'San Jose', 'CA', '95122', 'US')
('rachel.green', 'Rachel Green', '925000980', '54 Alber Ct', 'Milpitas', 'CA', '95035', 'US')
('ross.geller', 'Ross Geller', '408123456', '123 Creek Dr', 'San Jose', 'CA', '95122', 'US')

In [24]:
cursor.execute("SELECT * FROM DEPARTMENTS")
                
result = cursor.fetchall()
for x in result:
    print(x)

('Boarding', 'Dog boarding offers overnite and hourly stays.')
('Grooming', 'Dog grooming offering baths and full service.')
('Manager', 'Always must be at least 1 manager on duty.')
('Training', 'Training classes offered for puppy basic obiedience and more.')

In [25]:
cursor.execute("SELECT * FROM CALENDAR_VW")
                
result = cursor.fetchall()
for x in result:
    print(x)

('black.lab', 'Boarding', datetime.datetime(2022, 5, 2, 8, 0), 'George Willis')
('horse_gurl24', 'Training', datetime.datetime(2022, 5, 2, 8, 0), 'Ariana Mahalati')
('horse_gurl24', 'Training', datetime.datetime(2022, 5, 5, 8, 0), 'Ariana Mahalati')
('kiamcoo', 'Boarding', datetime.datetime(2022, 5, 1, 10, 0), 'Kim Kiamco')
('kiamcoo', 'Boarding', datetime.datetime(2022, 5, 3, 9, 0), 'Kim Kiamco')
('lilmads96', 'Grooming', datetime.datetime(2022, 5, 1, 9, 0), 'Madison Lillian')
('lilmads96', 'Grooming', datetime.datetime(2022, 5, 8, 11, 0), 'Madison Lillian')
('s.gaulden', 'Training', datetime.datetime(2022, 5, 2, 8, 0), 'Shayna Gaulden')
('t.nguyen', 'Grooming', datetime.datetime(2022, 5, 1, 8, 0), 'Tien Nguyen')

In [26]:
cursor.execute("SELECT * FROM EMPLOYEES_VW")
                
result = cursor.fetchall()
for x in result:
    print(x)

('Boarding', 'George Willis', '13 hill cir', 'San Jose', 'CA', '95122', 'USA')
('Manager', 'Tien Gaulden', '1234 SJSU ave', 'San Jose', 'CA', '95136', 'USA')
('Training', 'Ariana Mahalati', '90 larkspur st', 'Palo Alto', 'CA', '91234', 'USA')
('Boarding', 'Kim Kiamco', '4300 redoowd cir', 'Sunnyvale', 'CA', '94123', 'USA')
('Grooming', 'Madison Lillian', '12 valley dr', 'San Mateo', 'CA', '94327', 'USA')
('Training', 'Shayna Gaulden', '4500 forest dr', 'San Jose', 'CA', '95136', 'USA')
('Manager', 'Wuelby Soriano', '234 sonoma ave', 'Santa Rosa', 'CA', '93212', 'USA')
('Grooming', 'Tien Nguyen', '123 sunny st', 'San Jose', 'CA', '95132', 'USA')

In [27]:
cursor.execute("SELECT * FROM SCHEDULES_ALL_VW")
                
result = cursor.fetchall()
for x in result:
    print(x)

('Boarding', 'George Willis', datetime.datetime(2022, 5, 1, 20, 0), 'Chandler Bing', 'Amber')
('Boarding', 'George Willis', datetime.datetime(2022, 5, 1, 20, 0), 'Phoebe Buffay', 'Charlie')
('Training', 'Shayna Gaulden', datetime.datetime(2022, 5, 1, 8, 0), 'Ross Geller', 'Mia')
('Training', 'Shayna Gaulden', datetime.datetime(2022, 5, 1, 8, 0), 'Ross Geller', 'Coco')
('Grooming', 'Tien Nguyen', datetime.datetime(2022, 5, 1, 9, 0), 'Ross Geller', 'Mia')
('Boarding', 'George Willis', datetime.datetime(2022, 5, 2, 8, 0), None, None)
('Training', 'Ariana Mahalati', datetime.datetime(2022, 5, 2, 8, 0), None, None)
('Training', 'Ariana Mahalati', datetime.datetime(2022, 5, 5, 8, 0), None, None)
('Boarding', 'Kim Kiamco', datetime.datetime(2022, 5, 1, 10, 0), None, None)
('Boarding', 'Kim Kiamco', datetime.datetime(2022, 5, 3, 9, 0), None, None)
('Grooming', 'Madison Lillian', datetime.datetime(2022, 5, 1, 9, 0), None, None)
('Grooming', 'Madison Lillian', datetime.datetime(2022, 5, 8, 11, 0), None, None)
('Training', 'Shayna Gaulden', datetime.datetime(2022, 5, 2, 8, 0), None, None)
('Manager', 'Wuelby Soriano', datetime.datetime(2022, 5, 1, 16, 0), None, None)
('Manager', 'Wuelby Soriano', datetime.datetime(2022, 5, 2, 8, 0), None, None)
('Grooming', 'Tien Nguyen', datetime.datetime(2022, 5, 1, 8, 0), None, None)

In [28]:
cursor.execute("SELECT * FROM TOTAL_PRICE_VW")
                
result = cursor.fetchall()
for x in result:
    print(x)

('bing.chand', 'Amber', 'Overnight Board', datetime.datetime(2022, 5, 1, 20, 0), Decimal('49.99'), Decimal('49.99'))
('phoeba.buffay', 'Charlie', 'Overnight Board', datetime.datetime(2022, 5, 1, 20, 0), Decimal('49.99'), Decimal('49.99'))
('ross.geller', 'Coco', 'Puppy 1', datetime.datetime(2022, 5, 1, 8, 0), Decimal('149.99'), Decimal('149.99'))
('ross.geller', 'Mia', 'Small dog full service', datetime.datetime(2022, 5, 1, 9, 0), Decimal('59.99'), Decimal('209.98'))
('ross.geller', 'Mia', 'Puppy 1', datetime.datetime(2022, 5, 1, 8, 0), Decimal('149.99'), Decimal('209.98'))

In [29]:
#cursor.execute("SELECT * FROM SERVICES")
                
#result = cursor.fetchall()
#for x in result:
#    print(x)

In [30]:
cnxn.close()